<div>
  <div>
    <div class="title ml-3 mr-3 mt-2 d-flex justify-content-center">
      <h3 class="d-none d-md-table-cell align-self-center">SEARCH RESULTS</h3>
      <app-search class="d-md-none align-self-center"></app-search>
    </div>
    <mat-card class="ml-3 mr-3">
      <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400">
      <table class="table table-hover table-sm">
        <thead class="">
          <tr>
            <th scope="col" *ngFor="let col of columnsToDisplay">
              {{ col }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="loadCase($event)" *cdkVirtualFor="let result of searchResults; let i = index;">
            <td [id]="searchResults[i].person.id" class="">{{ searchResults[i].person.id }}</td>
            <td [id]="searchResults[i].person.id" class="">{{ searchResults[i].pet.petname }}</td>
            <td [id]="searchResults[i].person.id" class="">{{ searchResults[i].pet.petdod | date }}</td>
            <td [id]="searchResults[i].person.id" class="">{{ searchResults[i].person.firstname }} {{ searchResults[i].person.last }}</td>
            <td [id]="searchResults[i].person.id" class="">{{ searchResults[i].cremationDetails.clinic }}</td>
          </tr>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
    </mat-card>
  </div>
</div>

