<mat-toolbar class="bg-dark">
  <mat-toolbar-row>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <span class="text-white">Pet-Pickup</span>
      <button
        *ngIf="userIsAuthenticated"
        class="mat-raised-button bg-primary text-white"
        ngClass.xs= "mat-small"
        (click)="openDialog()">
        New Case
      </button>
    </div>
    <div>
      <div class="pl-4">
          <app-search *ngIf="userIsAuthenticated"></app-search>
      </div>
    </div>
    <span class="push-right"></span>
    <button
      *ngIf="userIsAuthenticated"
      mat-button
      [disableRipple]="true"
      [matMenuTriggerFor]="menu">
      <i class="fa fa-user-circle fa-xs text-white"></i>
      <span class="text-white" style="padding: 5px;">LoggedInUser</span>
      <i class="fa fa-angle-down text-white"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button
      (click)="onLogout()" mat-menu-item>Log Out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider class="headerSplit"></mat-divider>



