.push-right {
  flex: 1 1 auto;
}
.mat-small {
  min-height: 23px !important;
  min-width: 46px !important;
  font-size: 10px !important;
  line-height: 0px;
}
mat-divider.headerSplit {
  border-top: 3px solid #007BFF;
}

.modal-background {background: #FFFFFF;}

.activeTab {
  width: 100%;
  border-bottom: 2px solid #007BFF;
}

a.disabledLink {
  color: #c9c9c9;
  pointer-events: none;
}

