.push-right {
  flex: 1 1 auto;
}
.mat-small {
  min-height: 23px !important;
  min-width: 46px !important;
  font-size: 10px !important;
  line-height: 0px;
}
mat-divider.headerSplit {
  border-top: 3px solid #007BFF;
}
.formNav {
  background-color: #FFFFFF;
  height: 4%;
  border-radius: 5px;
  border-bottom: 2px;
  margin-bottom: 10px;
}
