<div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="!isLoading">
    <div class="title ml-3 mr-3 mt-2 d-flex justify-content-center">
      <h3 class="text-dark align-self-center">DASHBOARD</h3>
    </div>
    <mat-card class="ml-3 mr-3">
      <div class="row">

      </div>
      <table *ngIf="!isLoading" class="table table-sm">
        <thead class="">
          <tr>
            <th scope="col" *ngFor="let col of columnsToDisplay">
              {{ col }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let case of petCases let i = index">
            <td>{{ petCases[i].person.id }}</td>
            <td>{{ petCases[i].person.firstname }}</td>
            <td>{{ petCases[i].pet.petname }}</td>
            <td>{{ petCases[i].pet.sex }}</td>
            <td>{{ petCases[i].pet.petweight }}</td>
            <td>{{ petCases[i].cremationDetails.crematory }}</td>
            <td>{{ petCases[i].pet.pettype }}</td>
            <td>{{ petCases[i].cremationDetails.clinic }}</td>
            <td>{{ petCases[i].cremationDetails.status }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
          <nav>
              <ul *ngIf="!isLoading" class="pagination">
                <li (click)="prevPage()"
                [ngClass]="prevDisabled() ? 'disabled': '' "
                class="page-item"><a class="page-link" >Previous</a></li>

                <li (click)="changePage(i)"
                *ngFor="let item of pages; let i = index;"
                class="page-item"><a class="page-link">{{ i + 1}}</a></li>

                <li (click)="nextPage()"
                [ngClass]="nextDisabled() ? 'disabled': '' "
                 class="page-item"><a class="page-link" >Next</a></li>
              </ul>
            </nav>
      </div>
    </mat-card>
  </div>
</div>
