.title {
  background-color: #e6e6e6;
  height: 8%;
  border-radius: 2px;
  border-bottom: 1px solid #0d0d0c;
}

mat-spinner {
  margin: auto;

}

td {
  line-height: 40px;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

li {
  cursor: pointer;
}
