<div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="5px">
  <button mat-button [disableRipple]="true" [matMenuTriggerFor]="searchDD" style="width: 200px;">
    <span class="text-white" style="padding: 5px;">{{ searchBy }}</span>
    <i class="fa fa-angle-down text-white"></i>
  </button>
  <mat-menu #searchDD="matMenu">
    <button (click)="searchBy = 'Owner Name'" mat-menu-item>Owner Name</button>
    <button (click)="searchBy = 'Pet Name'" mat-menu-item>Pet Name</button>
  </mat-menu>
  <input style="min-width: 200px;" placeholder="Search" [(ngModel)]="searchText" type="text" class="form-control" (keyup)="search($event, searchBy)" />
  <mat-icon (click)="searchButton = true; search($event, searchBy);" [routerLink]="['../search']" class="searchIcon" matSuffix >search</mat-icon>
</div>


<div *ngIf="searchResult.length >= 1 && hide === false" class="box card">
  <ul *ngFor="let result of searchResult; let i = index">
    <li *ngIf="searchBy == 'Owner Name'" [id]="searchResult[i].person.id" (click)="loadCase($event)">{{ searchResult[i].person.firstname }} {{ searchResult[i].person.last }}</li>
    <li *ngIf="searchBy == 'Pet Name'" [id]="searchResult[i].person.id" (click)="loadCase($event)">{{ searchResult[i].pet.petname }}</li>
  </ul>
</div>

