<div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="5px">
  <button mat-button [disableRipple]="true" [matMenuTriggerFor]="searchDD" style="width: 200px;">
    <span class="text-white" style="padding: 5px;">{{ searchBy }}</span>
    <i class="fa fa-angle-down text-white"></i>
  </button>
  <mat-menu #searchDD="matMenu">
    <button (click)="searchBy = 'Owner Name'" mat-menu-item>Owner Name</button>
    <button (click)="searchBy = 'Pet Name'" mat-menu-item>Pet Name</button>
  </mat-menu>
  <input style="min-width: 200px;" placeholder="Search" #searchBox type="text" class="form-control" (keyup)="search($event)" />
</div>


<div *ngIf="searchResult.length >= 1" class="box card">
  <ul *ngFor="let result of searchResult; let i = index">
    <li>{{ searchResult[i].petname }}{{ searchResult[i].firstname }} {{ searchResult[i].last }}</li>
  </ul>
</div>

